RewriteRule ^car-bidding/api/login/?$ /api/login.php [NC,L]
RewriteRule ^car-bidding/api/login/([0-9]+)/?$ /api/login.php?id=$1 [NC,L]
RewriteRule ^nexa/api/fcmToken/?$ /api/fcmToken.php [NC,L]
RewriteRule ^nexa/api/fcmToken/([0-9]+)/?$ /api/fcmToken.php?id=$1 [NC,L]
RewriteRule ^nexa/api/forgotPassword/?$ /api/forgotPassword.php [NC,L]
RewriteRule ^nexa/api/forgotPassword/([0-9]+)/?$ /api/forgotPassword.php?id=$1 [NC,L]
RewriteRule ^nexa/api/ads/?$ /api/ads.php [NC,L]
RewriteRule ^nexa/api/ads/([0-9]+)/?$ /api/ads.php?id=$1 [NC,L]